
@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --green: #00B7AC;
    --light-green: #95DEDA;
}

body {
    font-family: 'GmarketSansMedium';
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #D4D0FF 0%, #B9C8FF 43.23%, #D6E9FC 100%);
}

.font-basic {
    font-family: 'GmarketSansMedium';
}

.font-net {
    font-family: 'netmarbleB';
}

.flex {
    display: flex;
}